.speed-field {
  width:100%;
}
.pace-field {
  width:50%;
}

.converter-card {
  max-width:30em;
  margin:auto;
}

.controls-card {
  max-width:30em;
  margin:auto;
}

mat-grid-tile{
  margin:2px;
}

.plus-minus-button {
  margin:3px;
  height:3.81rem;
  font-weight:bold;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.up-down-arrow {
  width: auto;
  margin-rigth: 0;
  margin-left: auto;
}

mat-card-content {
  minwidth: 1px;
  minheight: 1px;
  position: relative;
  top: 0;
  overflow: hidden;

}

mat-card-header {
  width: auto;
  height: 20px;
  margin-top: -20px !important;
  padding-top: 20px;
}

/*.uparrow {
  writing-mode: vertical-rl;
  transform: rotate(180deg) translateY(10px);
  height:20px;
  width: auto;
  margin-rigth: 0;
  margin-left: auto;
}

.downarrow {
  writing-mode: vertical-rl;
  width: auto;
  margin-rigth: 0;
  margin-left: auto;
}*/
