.speed-field {
  width:100%;
}
.pace-field {
  width:50%;
}

.converter-card {
  max-width:30em;
  margin:auto;
}

.controls-card {
  max-width:30em;
  margin:auto;
}

mat-grid-tile{
  margin:2px;
}

.plus-minus-button {
  margin:3px;
  height:3.81rem;
  font-weight:bold;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
