<mat-card class="converter-card">
  <mat-form-field class="pace-field">
    <input matInput id="mins" type="number" alt="Minutes" [value]="mins" (change)="setMins($event)" placeholder="minutes"/>
  </mat-form-field>
  <mat-form-field class="pace-field">
    <input matInput id="secs" type="number" alt="Seconds" [value]="secs" (change)="setSecs($event)" placeholder="seconds"/>
  </mat-form-field>
  <br/>
  <mat-form-field class="speed-field">
    <input matInput id="speed" type="number" alt="Speed" [value]="speed" (change)="setKmhs($event)" placeholder="speed (km/h)"/>
  </mat-form-field>
</mat-card>
